<% if(!req.header('X-PJAX')) { %>
  <%- include('header.ejs'); %>
<% } %>

<section class="mbr-section video2 mbr-section__container mbr-after-navbar" id="video2-e" style="background-color: rgb(252, 255, 245); padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-figure">
                    <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/KMU0tzLwhbE?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>



                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section accordion" id="accordion1-a" style="background-color: rgb(236, 240, 241); padding-top: 100px; padding-bottom: 100px;">


        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                    <div class="section-head text-center space30">
                        <h1 class="mbr-section-title display-4">About this website</h1>

                    </div>
                    <div class="clearfix"></div>
                    <div id="accordion1-a-init" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                      <div class="accordion-group">
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <span class="signSpan pseudoMinus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseOneaccordion1-a" aria-expanded="true" aria-controls="collapseOne"><span class="sign"></span>What is Mobirise?</a></h4>
                            </div>
                            <div id="collapseOneaccordion1-a" class="panel-collapse noScroll collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body lead"><p>Mobirise is an offline app for Window and Mac to easily create small/medium websites, landing pages, online resumes and portfolios, promo sites for apps, events, services and products.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseTwoaccordion1-a" aria-expanded="false" aria-controls="collapseTwo">Is it good for me?</a></h4>
                            </div>
                            <div id="collapseTwoaccordion1-a" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body lead"><p>Mobirise is perfect for non-techies who are not familiar with the intricacies of web development and for designers who prefer to work as visually as possible, without fighting with code. Also great for pro-coders for fast prototyping and small customers' projects.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseThreeaccordion1-a" aria-expanded="true" aria-controls="collapseThree">Why Mobirise?</a></h4>
                            </div>
                            <div id="collapseThreeaccordion1-a" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body lead"><p>Key differences from traditional builders:<br>* Minimalistic, extremely <strong>easy-to-use</strong> interface<br>* <strong>Mobile</strong>-friendliness, latest website blocks and techniques "out-the-box"<br>* <strong>Free</strong> for commercial and non-profit use</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseFouraccordion1-a" aria-expanded="false" aria-controls="collapseFour">This is a accordion Title 4</a></h4>
                            </div>
                            <div id="collapseFouraccordion1-a" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis, sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseFiveaccordion1-a" aria-expanded="false" aria-controls="collapseFive">This is a accordion Title 5</a></h4>
                            </div>
                            <div id="collapseFiveaccordion1-a" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis, sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p></div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="display: block;">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion1-a-init" data-core="" href="#collapseSixaccordion1-a" aria-expanded="false" aria-controls="collapseSix">This is a accordion Title 6</a></h4>
                            </div>
                            <div id="collapseSixaccordion1-a" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body lead"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis, sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p></div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<% if(!req.header('X-PJAX')) { %>
  <%- include('footer.ejs'); %>
<% } %>
