</div><!--pjax-target end-->

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer2-5" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center lead">Copyright (c) 2017 <a href="http://biteth.tistory.com/" target="_blank">Foo</a>.</p>
    </div>
</footer>

<div class="modalBackground transitionOneSec hidden opacityZero"></div>
<div id="fixedModal" class="centerBlock absoluteCenter isFixed isVariable modalBorder transitionOneSec hidden opacityZero">
  <div class="form">
    <form class="register-form modalForm" onsubmit="return processSignup();">
      <input type="text" placeholder="ID" required/>
      <input type="password" id="signup_password" placeholder="PASSWORD" required/>
      <input type="password" id="signup_confirm_password" placeholder="PASSWORD COMFIRM" required/>
      <input type="text" placeholder="NICKNAME" required/>
      <button type="submit">create</button>
      <p class="message">Already registered? <a href="#" class="preventDefault">Sign In</a></p>
    </form>
    <form class="login-form modalForm" onsubmit="return processLogin();">
      <input type="text" placeholder="ID" required/>
      <input type="password" placeholder="PASSWORD" required/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="#" class="preventDefault">Create an account</a></p>
    </form>
  </div>
</div>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/SmoothScroll.js"></script>
  <script src="assets/viewportChecker/jquery.viewportchecker.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchSwipe/jquery.touchSwipe.min.js"></script>
  <script src="assets/dataTables/jquery.dataTables.min.js"></script>
  <script src="assets/dataTables/dataTables.bootstrap4.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/jquery.pjax.js"></script>
  <script src="assets/sha256.js"></script>
  <script src="assets/custom.js"></script>
  <script src="assets/login-modal.js"></script>


  <input name="animation" type="hidden">
  </body>
</html>
