<% if(!req.header('X-PJAX')) { %>
  <%- include('header.ejs'); %>
<% } %>

<section class="mbr-section table1" id="table1-f" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">



    <div class="container">
        <h3 class="mbr-section-title display-2">USERS</h3>
    </div>

    <div class="container table-wrapper" data-search="true" search-text="Search:" info1-text="Showing" info2-text="entries" info3-text="(filtered from" info4-text="total entries)">

      <table class="table" id="usersTable" cellspacing="0" width="100%">
        <thead><tr><th style="width:50%;">#</th><th style="width:50%;">Nickname</th></tr></thead>
        <tbody></tbody>
      </table>
    </div>
</section>

<script>
$(document).ready(function() {
  if($('#usersTable tbody').html() === "")  // 뒤로 가기로 /users에 들어올 경우 계속 생성되는 것을 방지
    requestUsersListAjax();
});
</script>

<% if(!req.header('X-PJAX')) { %>
  <%- include('footer.ejs'); %>
<% } %>
