.selected {
  color: #983456 !important;
}

#pjax-target {
  min-height: 100%;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.isFixed {
  position: fixed;
  z-index: 3000;
}

.modalBorder {
  border: solid 5px #2e5f3e;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.centerBlock {
  background: #4fa46b;
  padding: 20px;
}

@media (min-width: 500px)  {
  .absoluteCenter {
    height: 478px;
    width: 410px;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 499px) {
  .absoluteCenter {
    height: 478px;
    width: 90%;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.transitionOneSec {
  transition: 1.0s;
}

.opacityZero {
  opacity: 0;
}

.divCenterFixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingDivWrapper {
  z-index: 4000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#loginButton {
  width: 130px;
}

.boardPost {
  background-color: #FFF0A5;
  transition: 1s;
  float: right;
}

.boardPost:hover {
  color: #333333;
  background-color: #FFFC88;
}

#postTitle {
  width: 90%;
}

#postContent {
  width: 100%;
}
